<div class="container">
  <div>
    <div>
    <h1>Welcome to Khadijah Live!</h1>
    </div>
  </div>
</div>
<nav>
  <ul>
    <li class="nav nav-tabs">
      <a routerLink="/appointments" routerLinkActive="active">Appointments</a>
    </li>
    <li class="nav nav-tabs">
            <a routerLink="/books" routerLinkActive="active">Books</a>
    </li>
    <li class="nav nav-tabs">
            <a routerLink="/activities" routerLinkActive="active">Activities</a>
    </li>
    <li class="nav nav-tabs">
            <a routerLink="/donations" routerLinkActive="active">Donations</a>
    </li>
  </ul>
<body>
  <div>
    <div>
      Here you can see acitivites that are going on in Khadijah's life
    </div>
  </div>
</body>
