<div>
  <div>
    <div>
    <h1>Welcome to Khadijah Live!</h1>
    </div>
  </div>
</div>
<nav>
  <ul>
    <li>
      <a routerLink="/appointments" routerLinkActive="active">Appointments</a>
    </li>
    <li>
            <a routerLink="/books" routerLinkActive="active">Books</a>
    </li>
    <li>
            <a routerLink="/activities" routerLinkActive="active">Activities</a>
    </li>
    <li>
            <a routerLink="/donations" routerLinkActive="active">Donations</a>
    </li>
  </ul>
</nav>
