<div class="container">
<a class="btn" routerLink="/home">Home</a>
  <div>
    <div>
      <h1>Welcome to Activities!</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class ="col">
      <input type="text"  placeholder="Activity Title">
    </div>
    <div class="col">
            <input type="text" placeholder="Activity Goal">
    </div>
    <div class="col">
                  <input type="text" placeholder="Activity Description">
    </div>
    <div class="col">
                  <input type="date">
    </div>
        <div class="col">
          <button type="button" class="btn btn-primary">Add</button>
        </div>
  </div>

  <div class="container">
    <div>
      <div>
        <h1>Activities</h1>
      </div>
    </div>
  </div>


</div>
