<div class="container">
<a class="btn" routerLink="../">Home</a>
  <div>
    <div>
      <h1>Add Appointments</h1>
    </div>
  </div>
<div class="row">
  <div class="col">
    <input type="text" placeholder="Appointment Title">
  </div>
  <div class="col">
    <input type="date" placeholder="Appointment Date">
  </div>
  <div class="col">
    <button class="btn btn-primary">Add</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1>Appointments</h1>
  </div>
</div>
<div>
  <img src=".././../assets/imgs/UyghurHanimlar.png" alt="">
</div>
<div>
  <div>

  </div>
</div>
</div>
